<div class="appening">
  
  <div id="appening_<%= appening.id %>" class="grid_14 alpha">
    <h4><%= appening.title %></h4>
  </div>
  <%= link_to "<i class='icon-ok grid_1 '></i>".html_safe, accomplish_appening_path(appening), method: :post, id: "accomplish_appening" %>
  <%= link_to "<i class='icon-remove grid_1 omega'></i>".html_safe, appening_path(appening), method: "delete", confirm: "Are you sure?" %>

  <div class="appeningDetails grid_16 alpha omega">
    <p><%= appening.created_at.strftime("%D") %></p>
    <%= link_to "<i class='icon-pencil'></i>".html_safe, edit_appening_path(appening), remote: true %>
    <%= link_to "<i class='icon-comment-alt'></i>".html_safe, new_appening_comment_path(appening_id: appening.id), remote: true %>
    <div id="comment_container_<%= appening.id %>" class="comment_container"></div>

    <% appening.comments.each do |comment| %> 
    <div class="comments">
      <%= comment.author %> wrote: 
      <%= comment.text %>
      <%= link_to "Delete", appening_comment_path(appening, comment), method: "delete", confirm: "Are you sure?" if comment.author == current_user.username %>
    </div>
    <% end %>
  </div>
</div>
