<h1>Listing appenings for <%= current_user.username %></h1>

<%= link_to "Log out", logout_path %>

<% @appenings.each do |appening| %>

<div class="appening">
<b><%= appening.title %></b>
<p><%= appening.body %></p>
<%= link_to 'Edit', edit_appening_path(appening) %>
<%= link_to 'Destroy', appening, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
<hr/>

<% end %>

<br />

<%= link_to 'New Appening', new_appening_path %>
