<div id="newAppening"></div>

<div class="grid_12 appeningList">
  <div class="appeningHeader">
    <h3>Unfinished appenings</h3>
    <%= link_to "new <i class='icon-plus'></i>".html_safe, new_appening_path, :class => "newAppeningButton", remote: true %>
  </div>
  
  <div class="appeningEntries">

    <% @appenings.each do |appening| %>
    <div class="appening">
      <h4 id="appening_<%= appening.id %>"><%= appening.title %></h4>
      <p>Started: <%= appening.created_at.strftime("%D") %></p>
      <%= link_to "Comment", new_appening_comment_path(appening_id: appening.id) %> |
      <%= link_to "Edit", edit_appening_path(appening), remote: true %>
      <%= button_to "Accomplished", accomplish_appening_path(appening) %>
      <% appening.comments_list.each do |comment| %> 
      <div class="comments">
        <%= comment.author %> wrote: 
        <%= comment.text %>
      </div>
      <% end %>
    </div>
    
    <% end %>
  </div>
</div>

<div class="grid_12 appeningList">
  <div class="appeningHeader">
    <h3>Accomplished appenings</h3>
  </div>

  <div class="appeningEntries">
    <% @accomplished_appenings.each do |appening| %>

    <div class="appening">
      <b><%= appening.title %></b>
      <% appening.comments_list.each do |comment| %> 
      <div class="comments">
        <%= comment.author %> wrote: 
        <%= comment.text %>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
