<div class="grid_16 appeningList">
  <div class="appeningHeader header">
    <h3>Unfinished appenings</h3>
    <%= link_to "new <i class='icon-plus'></i>".html_safe, new_appening_path, :class => "newAppeningButton", remote: true %>
  </div>
  
  <div class="appeningEntries">
    <div id="newAppening" class="appening"></div>
    <% @appenings.each do |appening| %>
    <div class="appening">
      <%# appening %>
      <div id="appening_<%= appening.id %>" class="grid_14 alpha">
        <h4><%= appening.title %></h4>
      </div>
      <%= link_to "<i class='icon-ok grid_1 '></i>".html_safe, accomplish_appening_path(appening), method: :post %>
      <%= link_to "<i class='icon-remove grid_1 omega'></i>".html_safe, appening_path(appening), method: "delete", confirm: "Are you sure?" %>
      <%# appening  details%>
      <div class="appeningDetails grid_16 alpha omega">
        <p><%= appening.created_at.strftime("%D") %></p>
        <%= link_to "<i class='icon-pencil'></i>".html_safe, edit_appening_path(appening), remote: true %>
        <%= link_to "<i class='icon-comment-alt'></i>".html_safe, new_appening_comment_path(appening_id: appening.id), remote: true %>
        <div id="comment_container_<%= appening.id %>" class="comment_container"></div>

        <% appening.comments.each do |comment| %> 
        <div class="comments">
          <%= comment.author %> wrote: 
          <%= comment.text %>
          <%= link_to "Delete", appening_comment_path(appening, comment), method: "delete", confirm: "Are you sure?" if comment.author == current_user.username %>
        </div>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div class="grid_16 appeningList">
  <div class="appeningHeader header">
    <h3>Accomplished appenings</h3>
  </div>

  <% unless @accomplished_appenings.empty? %>
  <div class="appeningEntries">
    <% @accomplished_appenings.each do |appening| %>
    <div class="appening">
      <div id="comment_container_<%= appening.id %>" class="comment_container"></div>
      <h4 id="appening_<%= appening.id %>"><%= appening.title %></h4>
      <div class="appeningPictures">
        <% appening.pictures.each do |picture| %>
        <%= image_tag picture.attachment.url(:medium) %>
        <%= link_to "Remove", remove_appening_picture_path(picture, appening_id: appening), method: "post" %>
        <% end %>
      </div>
      <div class="appeningActions">
        <%= link_to "Comment", new_appening_comment_path(appening_id: appening.id), remote: true %> |
        <%= link_to "Delete", appening_path(appening), method: "delete", confirm: "Are you sure?" %>
        <br/>
        <b>Upload picture:</b>
        <%= form_for appening, url: upload_appening_pictures_path(appening_id: appening.id), html: { method: "post"} do |f| %>
        <%= f.file_field :attachment %>
        <%= f.submit "Upload" %>
        <% end %>
        <% appening.comments.each do |comment| %> 
        <div class="comments">
          <%= comment.author %> wrote: 
          <%= comment.text %>
          <%= link_to "Delete", appening_comment_path(appening, comment), method: "delete", confirm: "Are you sure?" if comment.author == current_user.username %>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
