<div class="grid_12 appeningList">
  <h3 class="appeningHeader">Unfinished appenings</h3>

  <% @appenings.each do |appening| %>

  <div class="appening">
    <h4><%= appening.title %></h4>
    Started: <p><%= appening.created_at.strftime("%D") %></p>
    <%= link_to "Comment", new_appening_comment_path(appening_id: appening.id) %> |
    <%= link_to "Edit", edit_appening_path(appening) %>
    <%= button_to "Accomplished", accomplish_appening_path(appening) %>
    <% appening.comments_list.each do |comment| %> 
    <div class="comments">
      <%= comment.author %> wrote: <br/>
      <%= comment.text %><br/>
    </div>
    <% end %>
  </div>

  <% end %>
</div>
<br />

<div class="grid_12 appeningList">
  <h3>Accomplished appenings</h3>

  <% @accomplished_appenings.each do |appening| %>

  <div class="appening">
    <b><%= appening.title %></b>
    <% appening.comments_list.each do |comment| %> 
    <div class="comments">
      <%= comment.author %> wrote: <br/>
      <%= comment.text %><br/>
    </div>
    <% end %>
  </div>
</div>
<% end %>
