<div id="newAppening"></div>

<div class="grid_12 appeningList">
  <div class="appeningHeader header">
    <h3>Unfinished appenings</h3>
    <%= link_to "new <i class='icon-plus'></i>".html_safe, new_appening_path, :class => "newAppeningButton", remote: true %>
  </div>
  
  <div class="appeningEntries">

    <% @appenings.each do |appening| %>
    <div class="appening">
      <h4 id="appening_<%= appening.id %>"><%= appening.title %></h4>
      <div class="appeningActions">
        <p><%= appening.created_at.strftime("%D") %></p>
        <div id="comment_container_<%= appening.id %>" class="comment_container"></div>
        <%= link_to "<i class='icon-comment-alt'></i>".html_safe, new_appening_comment_path(appening_id: appening.id), remote: true %>
        <%= link_to "<i class='icon-edit'></i>".html_safe, edit_appening_path(appening), remote: true %>
        <%= link_to "<i class='icon-remove-sign'></i>".html_safe, appening_path(appening), method: "delete", confirm: "Are you sure?" %>
        <%= button_to "Accomplished", accomplish_appening_path(appening) %>
      </div>
      <% appening.comments.each do |comment| %> 
      <div class="comments">
        <%= comment.author %> wrote: 
        <%= comment.text %>
        <%= link_to "Delete", appening_comment_path(appening, comment), method: "delete", confirm: "Are you sure?" if comment.author == current_user.username %>
      </div>
      <% end %>
    </div>
    
    <% end %>
  </div>
</div>

<div class="grid_12 appeningList">
  <div class="appeningHeader">
    <h3>Accomplished appenings</h3>
  </div>

  <div class="appeningEntries">
    <% @accomplished_appenings.each do |appening| %>
      <div class="appening">
        <div id="comment_container_<%= appening.id %>" class="comment_container"></div>
        <h4 id="appening_<%= appening.id %>"><%= appening.title %></h4>
        <div class="appeningActions">
          <%= link_to "Comment", new_appening_comment_path(appening_id: appening.id), remote: true %> |
          <%= link_to "Delete", appening_path(appening), method: "delete", confirm: "Are you sure?" %>
          <% appening.comments.each do |comment| %> 
            <div class="comments">
              <%= comment.author %> wrote: 
              <%= comment.text %>
              <%= link_to "Delete", appening_comment_path(appening, comment), method: "delete", confirm: "Are you sure?" if comment.author == current_user.username %>
            </div>
          <% end %>
      </div>
    <% end %>
  </div>
</div>
