<h1>Browse friends</h1>
<% @friends.each do |friend| %>
  <div class="friends">
    <b><%= friend.username %></b>
    <div class="appening">
      <% friend.appenings.each do |appening| %>
        <%= appening.title %>
        <%= appening.body %>
        <%= appening.accomplished ? "Accomplished" : "In progress" %>
        <%= button_to "Copy", copy_appening_path(appening, user_id: friend.id) %>
        <br/>
      <% end %>
    </div>
  </div>
<% end %>

<%= link_to "Add new friend", new_friend_path %> | <%= link_to "Back", appenings_path %>
