<div class="grid_16">
  <h1>Browse friends</h1>
</div>
<div class="appeningEntries">
  <% @friends.each do |friend| %>
    <div class="friends">
      <h4 class="grid_8 alpha"><%= friend.username %></h4>
      <div class="grid_2 omega"><%= link_to "[remove]", remove_friend_path(friend), confirm: "Are you sure you want to remove #{friend.username} as a friend?" %></div>
      <div class="clear"></div>
      <% friend.appenings.each do |appening| %>
        <div class="appening">
          <% if appening.public %>
            <div class="friend-details grid_16">
              <h5 class="grid_16"><%= appening.title %></h5>
              <%= appening.accomplished ? "Accomplished" : "In progress" %>
              <div class="clear"></div>
              <%= button_to "Comment", new_appening_comment_path(appening_id: appening.id), method: "get", remote: true, class: "grid_2 alpha" %> 
              <%= button_to "Copy", copy_appening_path(appening, user_id: friend.id), class: "grid_2 omega" %>
              <div id="comment_container_<%= appening.id %>" class="comment_container grid_16"></div>
              <% appening.comments.each do |comment| %> 
                <div class="comments grid_8">
                  <b><%= comment.author %> wrote: </b>
                  <p><%= comment.text %></p>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<hr/>
<div class="clear"></div>
<div class="grid_16 alpha">
  <%= link_to "Add new friend", new_friend_path, class: "grid_2 alpha" %> 
  <%= link_to "Back", appenings_path, class: "grid_2 omega" %>
</div>
