<h1>Browse friends</h1>
<% @friends.each do |friend| %>
  <div class="friends">
    <b><%= friend.username %></b>
    <%= link_to "[remove]", remove_friend_path(friend), confirm: "Are you sure you want to remove #{friend.username} as a friend?" %>
    <div class="appening">
      <% friend.appenings.each do |appening| %>
        <% if appening.public %>
          <b><%= appening.title %></b><br/>
          Status: <%= appening.accomplished ? "Accomplished" : "In progress" %>
          <div id="comment_container_<%= appening.id %>" class="comment_container"></div>
          <% appening.comments.each do |comment| %> 
            <div class="comments">
              <%= comment.author %> wrote: <br/>
              <%= comment.text %><br/>
            </div>
          <% end %>
          <%= button_to "Comment", new_appening_comment_path(appening_id: appening.id), method: "get", remote: true %> 
          <%= button_to "Copy", copy_appening_path(appening, user_id: friend.id) %>
          <br/>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<%= link_to "Add new friend", new_friend_path %> | <%= link_to "Back", appenings_path %>
