<h1>Browse friends</h1>
<% @friends.each do |friend| %>
  <div class="friends">
    <b><%= friend.username %></b>
    <div class="appening">
      <% friend.appenings.each do |appening| %>
        <b><%= appening.title %></b><br/>
        Status: <%= appening.accomplished ? "Accomplished" : "In progress" %>
        <% appening.comments.each do |comment| %> 
          <div class="comments">
            <%= comment.author %> wrote: <br/>
            <%= comment.text %><br/>
          </div>
        <% end %>
        <%= button_to "Comment", new_appening_comment_path(appening_id: appening.id), method: "get" %> 
        <%= button_to "Copy", copy_appening_path(appening, user_id: friend.id) %>
        <br/>
      <% end %>
    </div>
  </div>
<% end %>

<%= link_to "Add new friend", new_friend_path %> | <%= link_to "Back", appenings_path %>
