<!DOCTYPE html>
<html>
<head>
	<title>Appenings</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="topBarContainer">
		<div class="topBar header">
			<% if current_user.present? %>
			<span class="logo">
				<%= link_to "Appenings", appenings_path %>
			</span>
			<div class="menu">
        <%= link_to "Feed", feed_path %>
				<%= link_to "<i class='icon-group'></i>".html_safe, friends_path, :class => "friendButton" %>
				<%= link_to "<i class='icon-signout'></i>".html_safe, logout_path, :class => "logoutButton" %>
			</div>
			<% end %>

		</div>
	</div>

	<div id="container" class="container_16">
		<%= yield %>
	</div>
	<% if notice.present? %>
		<div class="notice"><p><%= notice %></p></div>
		<% end %>

		<% if alert.present? %>
		<div class="alert"><p><%= alert %></p></div>
		<% end %>
</body>
</html>
