<!DOCTYPE html>
<html>
<head>
  <title>Appenings</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%=
if notice.present?
	print '<div class="notice"><p>' + notice + '</p></div'
end
%>

<%=
if alert.present?
	print '<div class="alert"><p>' + alert + '</p></div>'
end
%>


<%= yield %>

</body>
</html>
