<!DOCTYPE html>
<html>
<head>
	<title>Appenings</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="topBarContainer">
		<div class="topBar">
      <% if current_user %>
        <%= link_to('<span class="logo">Appenings</span>'.html_safe, appenings_path) if current_user %> 
         <span class="username">
            <%= current_user.username %>
          </span>
        <div class="menu">
          <%= link_to "<i class='icon-group'></i>".html_safe, friends_path, :class => "friendButton" %>
          <%= link_to "<i class='icon-signout'></i>".html_safe, logout_path, :class => "logoutButton" %>
        </div>
      <% else %>
        <span class="logo">Appenings</span>
			<% end %>

		</div>
	</div>

	<div id="container" class="container_12">
		<% if notice.present? %>
		<div class="notice"><p><%= notice %></p></div>
		<% end %>

		<% if alert.present? %>
		<div class="alert"><p><%= alert %></p></div>
		<% end %>


		<%= yield %>
	</div>
</body>
</html>
